{% extends '../layouts/authLayout.html' %}

{% block site_title %}
  Sign Up Page
{% endblock %}

{% block page_title %}
  Sign Up
{% endblock %}

{% block content %}
  <form action="/register" method="POST">
    {% csrf_token %}
    <div class="mb-4">
      <label for="username" class="block text-sm font-semibold mb-2">Username</label>
      <input type="text" id="username" name="username" class="w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:border-blue-500" required />
    </div>
    <div class="mb-4">
      <label for="fullname" class="block text-sm font-semibold mb-2">Fullname</label>
      <input type="text" id="fullname" name="fullname" class="w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:border-blue-500" required />
    </div>
    <div class="mb-4">
      <label for="password" class="block text-sm font-semibold mb-2">Password</label>
      <input required type="password" id="password" name="password" class="w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:border-blue-500" />
    </div>
    <div class="mb-4">
      <button type="submit" class="w-full bg-blue-500 text-white font-semibold px-4 py-2 rounded hover:bg-blue-600">Register</button>
    </div>
  </form>
  <p class="text-center mt-2">
    Already have an account?
    <a href="/" class="text-blue-500 font-semibold hover:underline">Login here</a>
  </p>
{% endblock %}
